@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
googlefont
使用＠import
*/
body {
  margin: 0 auto;
  color: #4d4d4d;
  font-family: "Noto Sans TC", sans-serif;
  outline: none;
}

header .nav-link {
  color: #4d4d4d;
  padding: 0.5rem 0.5rem;
}

header .nav-link::after {
  content: "";
  border-right: 1px solid;
  margin-left: 10px;
}

header .nav-item:nth-child(4) .nav-link::after {
  content: none;
}

header .login {
  background-color: white;
  border-radius: 50%;
}

header .login-member {
  background: white;
  border-radius: 50%;
}

.footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#a7d4da), color-stop(89.54%, rgba(167, 212, 218, 0)));
  background: linear-gradient(0deg, #a7d4da 0%, rgba(167, 212, 218, 0) 89.54%);
}

.copyright {
  background-color: #6e9292;
  color: white;
}

.login .title {
  font-size: 48px;
  font-weight: 700;
}

@media (min-width: 320px) {
  .login .info {
    width: 80%;
  }
}

@media (min-width: 526px) {
  .login .info {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .login .info {
    width: 70%;
  }
}

@media (min-width: 320px) {
  .login .register {
    width: 80%;
  }
}

@media (min-width: 526px) {
  .login .register {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .login .register {
    width: 70%;
  }
}

.login .block {
  background-color: #f8f8f8;
  -webkit-box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@media (min-width: 320px) {
  .login .social {
    width: 120px;
    background-color: white;
    border-radius: 10px;
  }
  .login .social .icon {
    width: 15px;
    height: 15px;
  }
  .login .bg-image {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .login .social {
    width: 160px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login .social .icon {
    width: 20px;
    height: 20px;
  }
  .login .social .socail-font {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .login .social .icon {
    width: 30px;
    height: 30px;
  }
  .login .social .socail-font {
    font-size: 26px;
  }
}

@media (min-width: 526px) {
  .login .bg-image {
    width: 40vw;
  }
}

.login .input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: white;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-radius: 0px;
}

.login .input-group
> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.login .input-group > .form-control,
.login .input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.login .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

main main .contain {
  margin-top: -5em;
}

main .weatherbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#a7d4da), to(rgba(167, 212, 218, 0)));
  background: linear-gradient(180deg, #a7d4da 0%, rgba(167, 212, 218, 0) 100%);
  margin-top: -1px;
}

@media (min-width: 320px) {
  main .weatherbar .title {
    width: 12em;
    text-align: center;
  }
}

@media (min-width: 768px) {
  main .weatherbar .title {
    width: 43em;
  }
}

main .shadow-box:hover {
  -webkit-box-shadow: 8px 5px 7px #00000038, inset 0px -20px 3px #00000038;
          box-shadow: 8px 5px 7px #00000038, inset 0px -20px 3px #00000038;
  border-radius: 20px;
  -webkit-transform: translate(-2px, -4px);
          transform: translate(-2px, -4px);
  cursor: pointer;
}

@media (min-width: 1320px) {
  main .shadow-box:hover {
    width: 91%;
  }
}

.card-group {
  background-color: #6e9292;
}

.card-group p {
  color: white;
}

.card-group-food {
  background-color: #738677;
}

.card-group-food p {
  color: white;
}

.card-group-stay {
  background-color: #c2bb96;
}

.card-group-stay p {
  color: white;
}

@media (min-width: 320px) {
  .cardplace .looknum {
    background-color: white;
    width: 40%;
    padding: 0.4em 0.5em;
    border-radius: 50px;
    z-index: 1;
    margin: 1em;
  }
}

@media (min-width: 768px) {
  .cardplace .looknum {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .cardplace .looknum {
    width: 50%;
  }
}

.cardplace .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 0.4em 0.5em;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  right: 18 px;
  z-index: 1;
  margin: 1em;
}

.cardplace .name {
  width: 100%;
  color: white;
  background-color: #00000066;
  position: ABSOLUTE;
  bottom: 0;
  padding: 10px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

.cardplace .photo,
.cardplace .placephoto {
  width: 100%;
  border-radius: 30px;
  padding-bottom: calc(100% / 8 * 9);
}

@media (min-width: 320px) {
  .card-food-stay .looknum {
    background-color: white;
    width: 40%;
    padding: 0.4em 0.5em;
    border-radius: 50px;
    z-index: 1;
    margin: 1em;
  }
}

@media (min-width: 768px) {
  .card-food-stay .looknum {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .card-food-stay .looknum {
    width: 50%;
  }
}

.card-food-stay .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 0.4em 0.5em;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  right: 18 px;
  z-index: 1;
  margin: 1em;
}

.card-food-stay .name {
  width: 100%;
  color: #00000066;
  border: 1px solid #00000066;
  bottom: 0;
  padding: 10px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

.card-food-stay .name .title,
.card-food-stay .name .location {
  color: gray;
}

.card-kol .name {
  padding: 20px 10px 5px 10px;
  height: 170px;
}

.card-kol .name .title {
  color: #4d4d4d;
}

.card-kol .name .subtitle {
  font-size: 12px;
  line-height: 1.5;
}

.mySwiper {
  width: calc(100vw - 200px);
  margin: 0 auto;
  position: unset;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  left: auto;
  position: absolute;
  background: #dcdcdc 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mySwiper .swiper-button-next {
  right: -5%;
}

.mySwiper .swiper-button-next:after {
  content: "next";
  left: 40%;
  font-size: 20px;
  color: gray;
}

.mySwiper .swiper-button-prev {
  left: -5%;
}

.mySwiper .swiper-button-prev:after {
  content: "prev";
  left: 40%;
  font-size: 20px;
  color: gray;
}

.place .form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.place .input-group > .form-control,
.place .input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.place .input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: white;
  border: 1px solid white;
  border-right: 1px;
  border-top: 1px;
  border-left: 1px;
  border-radius: 0.25rem;
}

.place .search {
  width: 160px;
  padding: 6px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid white;
  border-radius: 0.25rem;
}
/*# sourceMappingURL=style.css.map */