/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 auto;
  color: #4d4d4d;
}

header .nav-link {
  color: #4d4d4d;
  padding: 0.5rem 0.5rem;
}

header .nav-link::after {
  content: "";
  border-right: 1px solid;
  margin-left: 10px;
}

header .nav-item:nth-child(4) .nav-link::after {
  content: none;
}

header .login {
  background-color: white;
  border-radius: 50%;
}

header .login-member {
  background: white;
  border-radius: 50%;
}

.footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#a7d4da), color-stop(89.54%, rgba(167, 212, 218, 0)));
  background: linear-gradient(0deg, #a7d4da 0%, rgba(167, 212, 218, 0) 89.54%);
}

main main .contain {
  margin-top: -5em;
}

main .weatherbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#a7d4da), to(rgba(167, 212, 218, 0)));
  background: linear-gradient(180deg, #a7d4da 0%, rgba(167, 212, 218, 0) 100%);
  margin-top: -4px;
}

main .weatherbar .title {
  width: 70%;
}

main .shadow-box:hover {
  -webkit-box-shadow: 8px 5px 7px #00000038, inset 0px -20px 3px #00000038;
          box-shadow: 8px 5px 7px #00000038, inset 0px -20px 3px #00000038;
  border-radius: 20px;
  -webkit-transform: translate(-2px, -4px);
          transform: translate(-2px, -4px);
  cursor: pointer;
}

@media (min-width: 1320px) {
  main .shadow-box:hover {
    width: 91%;
  }
}

.mySwiper {
  width: calc(100vw - 200px);
  margin: 0 auto;
  position: unset;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  left: auto;
  position: absolute;
  background: #dcdcdc 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mySwiper .swiper-button-next {
  right: -5%;
}

.mySwiper .swiper-button-next:after {
  content: "next";
  left: 40%;
  font-size: 20px;
  color: gray;
}

.mySwiper .swiper-button-prev {
  left: -5%;
}

.mySwiper .swiper-button-prev:after {
  content: "prev";
  left: 40%;
  font-size: 20px;
  color: gray;
}
/*# sourceMappingURL=style.css.map */