.card-group {
	background-color: $ColorPublic-100;
	p {
		color: white;
	}
}

.card-group-food {
	background-color: $ColorPublic-400;
	p {
		color: white;
	}
}

.card-group-stay {
	background-color: $ColorPublic-600;
	p {
		color: white;
	}
}
// card-place

.cardplace {
	@media (min-width: 320px) {
		.looknum {
			background-color: rgb(255, 255, 255);
			width: 40%;
			padding: 0.4em 0.5em;
			border-radius: 50px;
			z-index: 1;
			margin: 1em;
		}
	}
	@media (min-width: 768px) {
		.looknum {
			width: 60%;
		}
	}
	@media (min-width: 1024px) {
		.looknum {
			width: 50%;
		}
	}

	.book {
		display: flex;
		justify-content: center;
		background-color: rgb(255, 255, 255);
		padding: 0.4em 0.5em;
		border-radius: 50px;
		position: absolute;
		z-index: 1;
		right: 18 px;
		z-index: 1;
		margin: 1em;
	}

	.name {
		width: 100%;
		color: white;
		background-color: #00000066;
		position: ABSOLUTE;
		bottom: 0;
		padding: 10px;
		border-radius: 0 0 30px 30px;
		overflow: hidden;
	}

	.photo,
	.placephoto {
		width: 100%;
		border-radius: 30px;
		padding-bottom: calc(100% / 8 * 9);
	}
}

// card-food-stay

.card-food-stay {
	@media (min-width: 320px) {
		.looknum {
			background-color: rgb(255, 255, 255);
			width: 40%;
			padding: 0.4em 0.5em;
			border-radius: 50px;
			z-index: 1;
			margin: 1em;
		}
	}
	@media (min-width: 768px) {
		.looknum {
			width: 60%;
		}
	}
	@media (min-width: 1024px) {
		.looknum {
			width: 50%;
		}
	}

	.book {
		display: flex;
		justify-content: center;
		background-color: rgb(255, 255, 255);
		padding: 0.4em 0.5em;
		border-radius: 50px;
		position: absolute;
		z-index: 1;
		right: 18 px;
		z-index: 1;
		margin: 1em;
	}

	.name {
		width: 100%;
		color: #00000066;
		border: 1px solid #00000066;
		// position: ABSOLUTE;
		bottom: 0;
		padding: 10px;
		border-radius: 0 0 30px 30px;
		overflow: hidden;
		.title,
		.location {
			color: $ColorFont-200;
		}
	}
}

// card-kol

.card-kol {
	.name {
		padding: 20px 10px 5px 10px;
		height: 170px;
		.title {
			color: $ColorFont-300;
		}
		.subtitle {
			font-size: 12px;
			line-height: 1.5;
		}
	}
}
