.login {
	.title {
		font-size: 48px;
		font-weight: 700;
	}

	@media (min-width: 320px) {
		.info {
			width: 80%;
		}
	}

	@media (min-width: 526px) {
		.info {
			width: 50%;
		}
	}

	@media (min-width: 320px) {
		.register {
			width: 80%;
		}
	}

	@media (min-width: 526px) {
		.register {
			width: 60%;
		}
	}

	.block {
		background-color: $ColorBackground-300;
		box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
	}

	.social {
		width: 160px;
		background-color: $ColorBackground-100;
		border-radius: 10px;
	}
	@media (min-width: 320px) {
		.bg-image {
			width: 100vw;
		}
	}

	@media (min-width: 526px) {
		.bg-image {
			width: 40vw;
		}
	}
}
