// 常用顏色
$ColorPublic-100: #6e9292;
$ColorPublic-200: #a7d4da;
$ColorPublic-300: #a7b4aa;
$ColorPublic-400: #738677;
$ColorPublic-500: #e6ddb2;
$ColorPublic-600: #c2bb96;
$ColorPublic-700: #aa796c;
$ColorPublic-800: #e6beb4;

// 文字顏色

$ColorFont-100: lighten(#000000, 80%);
$ColorFont-200: lighten(#000000, 50%);
$ColorFont-300: lighten(#000000, 30%);
$ColorFont-400: #f8f8f8;

// 常用顏色
$ColorBackground-100: white;
$ColorBackground-200: #000000;
$ColorBackground-300: #f8f8f8;
